<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>MyBlog</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/Styles.css">
</head>
<body>
<h1>My Blog</h1>
<form method="post">
	<label>
		<div>Subject</div>
		<input type="text" name="subject" value={{subject}}>
	</label>
	<label>
		<div>Content</div>
		<textarea name="content" rows="" cols="">{{content}}</textarea>
	</label>
	<div class="error">{{error}}</div>
	<button type="submit">Post Blog</button>
</form>

</body>
</html>